@import url(Style.css);

.contact {
  border-radius: 20px;
  font-size: 20px;
  text-align: right;
  padding: 20px;
  margin: 5px 3%;
  border: solid 1px var(--primary-color);
}

.contact .textInput {
  display: flex;
  justify-content: flex-end;
}

.contact .textInput input,
.contact .textInput h4,
.contact input::placeholder,
textarea::placeholder {
  font-size: 25px;
  height: 40px;
  text-align: right;
  font-family: IBM;
  padding: 5px;
  color: var(--tx-color);
  background-color: var(--bg-color);
  border: none;
  caret-color: var(--primary-color);
}

.contact .textInput input {
  width: 70%;
}

.contact .textInput h4 {
  min-width: 120px;
}

input:focus,
textarea:focus,
select:focus {
  border: none;
  outline: none;
}

.contact .textInput select,
textarea {
  font-size: 25px;
  height: 50px;
  width: 100%;
  text-align: right;
  font-family: IBM;
  padding: 5px;
  color: var(--tx-color);
  background-color: var(--bg-color);
  border: none;
  caret-color: var(--primary-color);
}

@media (max-width: 700px) {
  .contact .textInput input,
  .contact .textInput select,
  .contact .textInput h4,
  .contact input::placeholder,
  textarea::placeholder {
    font-size: 20px;
  }
}

.contact input::placeholder,
textarea::placeholder {
  color: gray;
}
