@import url(Style.css);

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(0.8);
}
.portfolio img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.portfolio .image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio .image img {
  width: 100%;
  max-width: 300px;
  border-radius: 10%;
}
.portfolio .contbut {
  width: 30%;
  margin: 15% 0;
}
.portfolio .left .contbut {
  transform: rotate(180deg);
}
.portfolio .space {
  width: 100%;
  max-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio .top {
  display: flex;
  margin: 50px 10%;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.portfolio .main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.portfolio .main .right .image img,
.portfolio .main .left .image img {
  width: 80%;
}
@media (max-width: 740px) {
  .portfolio .main .right .image{
    display: none;
  }
  .portfolio .main .left .image{
    display: none;
  }
  .portfolio .main .contbut{
    width: 60px;
  }
  .portfolio .main .center .image{
    margin: 0 10px;
  }
  .portfolio .top .mainbut{
    font-size: 20px;
    padding: 5px 50px;
  }
  .portfolio .top h1 {
    font-size: 25px;
  }
}


/* app portfolios padge */
.portfolios {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
}
.portfolios .portfoliocard {
  width: 300px;
  height: 240px;
  border-radius: 20px;
  margin: 10px;
  background-color: #222;
}
.portfolios .portfoliocard .all {
  background-color: #222;
  padding: 10px;
  border-radius: 20px;
}
.portfolios .portfoliocard .all:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.portfolios .portfoliocard .cover {
  width: 280px;
  height: 140px;
  border-radius: 16px;
}
.portfolios .portfoliocard .buttom {
  position: relative;
  display: flex;
  padding-top: 10px;
  flex-direction: row-reverse;
  align-items: center;
}
.portfolios .portfoliocard .mainbut {
  font-size: 10px;
  padding: 10px 10px;
  border-radius: 15px;
  position: absolute;
  left: 0px;
}
.portfolios .portfoliocard .detals {
  text-align: right;
  margin-right: 10px;
}

.portfolios .portfoliocard .logo {
  width: 70px;
  border-radius: 16px;
}

.portfolios .portfoliocard .detals h3 {
  font-size: 20px;
}
.portfolios .portfoliocard .detals h4 {
  font-size: 14px;
  margin: -5px 0;
}
.portfolios .portfoliocard .detals h5 {
  font-size: 10px;
  margin: -5px 0;
}

@media (max-width: 1420px) {
  .portfolios .portfoliocard {
    width: 31.5%;
    height: 26%;
  }
  .portfolios .portfoliocard .cover {
    width: 100%;
    height: 50%;
  }
}
@media (max-width: 1215px) {
  .portfolios .portfoliocard {
    width: 47%;
    height: 40%;
  }
  .portfolios .portfoliocard .cover {
    width: 100%;
    height: 50%;
  }
}
@media (max-width: 740px) {
  .portfolios .portfoliocard {
    width: 100%;
    height: 80%;
  }
  .portfolios .portfoliocard .cover {
    width: 100%;
    height: 50%;
  }
}
/* one project page  */
.project .top{
  margin-top: 30px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  text-align: right;
}
.project .top .detals{
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: row-reverse;
}
.project .top .logo {
  width: 100px;
  margin-left: 20px;
}
.project .top .mainbut{
  font-size: 20px;
}

.project .buttom{
  margin: 40px 0;
}

.project .buttom .dis {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}
.project .buttom .imgs {
  display: flex;
  margin: 10px 0;
  overflow-x: scroll;
  border-radius: 20px;
  scrollbar-width: none;
}
.project .buttom .cover {
  height: 400px;
  margin: 5px 10px;
  border-radius: 20px;
  box-shadow: #222 -4px 4px 0px ;
}

@media (max-width: 740px) {
  .project .buttom .cover {
    height: 150px;
  }
  .project .top .mainbut{
    font-size: 15px;
    padding: 10px 50px;
  }
}
@media (max-width: 430px) {
  .project .top .mainbut{
    font-size: 15px;
    padding: 10px 20px;
  }
}
