@import url(../Style.css);

.works {
  margin-top: 150px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin-bottom: 100px;
}

.works::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(
    --background-image,
    url(../assets/imgs/tatbelascreenshot.png)
  );
  /* الخلفية الافتراضية */
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  z-index: -1;
}
.works .topg{
  height: 50px;
  top: 0px;
  transform: rotate(180deg);
}
.works .bottomg{
  height: 100px;
  bottom: 0px;
  top: auto;
}
.works .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
  font-size: 20px;
}

.works .mainbut {
  font-size: 20px;
  padding: 10px;
  width: 200px;
}

.works .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20%;
  height: 100%;
}

.works .bottom .right .slider {
  display: flex;
}

.works .bottom .right .work {
  width: 200px;
  text-align: center;
  font-size: 18px;
  margin: 0 10px;
}
.works .bottom .right .work h3 {
  transform: translateY(-20px);
}

.works .bottom .right .work img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 20px;
}
.works .bottom .right .work img:hover {
  transform: scale(1.2);
}

.works .bottom .left #workSubtitle {
  color: gray;
  margin: 10px 0;
}
.works .bottom .mainbut {
  background-color: var(--primary-color);
}
.works .bottom .mainbut:hover {
  background-color: transparent;
}

.works .controls {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  position: relative;
  bottom: 70px;
}
.works .controls i {
  margin: 0 10px;
}
.works .controls i:hover {
  transform: scale(1.2);
}
.works .controls svg {
  width: 50px;
  height: 50px;
  padding: 15px;
  fill: white;
  background-color: #282828;
  border-radius: 100px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .works .bottom .right .work,
  .works .bottom .left h2 {
    display: none;
  }
  .works .top {
    font-size: 15px;
  }
  .works .top .mainbut {
    font-size: 15;
    width: 150px;
  }

  .works .bottom .right .work:nth-child(1) {
    display: block;
    width: 220px;
    font-size: 30px;
  }

  .works .bottom {
    flex-direction: column-reverse;
    justify-content: space-evenly;
    text-align: center;
    margin: 0;
  }
  .works .bottom .work {
    transform: translateY(-25px);
  }

  .works .bottom .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -80px;
    width: 80%;
  }

  .works .bottom .left #workSubtitle {
    position: relative;
    display: block;
    font-size: 20px;
  }

  .works .controls {
    bottom: 40px;
  }
}


/* app portfolios padge */
.portfolios {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
}
.portfolios .portfoliocard {
  width: 300px;
  height: 240px;
  border-radius: 20px;
  margin: 10px;
  background-color: #222;
}
.portfolios .portfoliocard .all {
  background-color: #222;
  padding: 10px;
  border-radius: 20px;
}
.portfolios .portfoliocard .all:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.portfolios .portfoliocard .cover {
  width: 280px;
  height: 140px;
  border-radius: 16px;
}
.portfolios .portfoliocard .buttom {
  position: relative;
  display: flex;
  padding-top: 10px;
  flex-direction: row-reverse;
  align-items: center;
}
.portfolios .portfoliocard .mainbut {
  font-size: 10px;
  padding: 10px 10px;
  border-radius: 15px;
  position: absolute;
  left: 0px;
}
.portfolios .portfoliocard .detals {
  text-align: right;
  margin-right: 10px;
}

.portfolios .portfoliocard .logo {
  width: 70px;
  border-radius: 16px;
}

.portfolios .portfoliocard .detals h3 {
  font-size: 20px;
}
.portfolios .portfoliocard .detals h4 {
  font-size: 14px;
  margin: -5px 0;
}
.portfolios .portfoliocard .detals h5 {
  font-size: 10px;
  margin: -5px 0;
}

@media (max-width: 1420px) {
  .portfolios .portfoliocard {
    width: 31.5%;
    height: 26%;
  }
  .portfolios .portfoliocard .cover {
    width: 100%;
    height: 50%;
  }
}
@media (max-width: 1215px) {
  .portfolios .portfoliocard {
    width: 47%;
    height: 40%;
  }
  .portfolios .portfoliocard .cover {
    width: 100%;
    height: 50%;
  }
}
@media (max-width: 740px) {
  .portfolios .portfoliocard {
    width: 100%;
    height: 80%;
  }
  .portfolios .portfoliocard .cover {
    width: 100%;
    height: 50%;
  }
}
/* one project page  */
.project {
  margin: 0 5%;
}
.project .top{
  margin-top: 30px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  text-align: right;
}
.project .top .detals{
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: row-reverse;
}
.project .top .logo {
  width: 100px;
  margin-left: 20px;
  border-radius: 20px;
}

.project .top .mainbut{
  font-size: 20px;
}

.project .buttom{
  margin: 40px 0;
}

.project .buttom .dis {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}
.project .buttom .imgs {
  display: flex;
  margin: 10px 0;
  overflow-x: scroll;
  border-radius: 20px;
  scrollbar-width: none;
}
.project .buttom .cover {
  height: 400px;
  margin: 5px 10px;
  border-radius: 20px;
  box-shadow: #222 -4px 4px 0px ;
}

@media (max-width: 740px) {
  .project .buttom .cover {
    height: 200px;
  }
  .project .top .mainbut{
    font-size: 15px;
    padding: 10px 50px;
  }
}
@media (max-width: 430px) {
  .project .top .mainbut{
    font-size: 15px;
    padding: 10px 20px;
  }
}