@import url(Style.css);
/* start */
.start {
  display: flex;
  flex-wrap: wrap;
  padding: 5% 10%;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
  border-radius: 20px 20px 0px 0px;
  animation: startt 1s;
  animation-delay: 2100ms;
  flex-direction: column;
  justify-content: space-evenly;
  border: solid 1px var(--primary-color);
  border-bottom: none;
  overflow-x: hidden;
}

/* me */
.start .me {
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
  display: flex;
  height: 500px;
  animation: fly 2s ease-in infinite alternate-reverse;
}

.start .me .meimg {
  width: 426px;
  height: 426px;
  border-radius: 20px;
  animation: fly 2s ease-in infinite alternate-reverse;
}
.start .me .text {
  margin: auto;
}
.start .me .text h1 {
  font-size: 95px;
}
.start .me .text h3 {
  font-size: 60px;
}
.start .me .text .logos img {
  width: 50px;
}

@keyframes fly {
  to {
    transform: translateY(10px);
  }
}

@keyframes textflow {
  to {
    transform: translateX(-5px);
    opacity: 0.5;
    font-size: 50px;
  }
}
@keyframes textstart {
  from {
    transform: translatey(-200px);
  }
}
@keyframes startt {
  from {
    transform: translatez(200px);
    transform: translateY(200px);
    opacity: 0;
  }
  to {
    transform: translatez(0px);
    opacity: 1;
  }
}

@media (max-width: 700px) {
  .start .me {
    position: relative;
    height: 650px;
    margin-top: 5%;
  }
  .start .me .meimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 350px;
    object-fit: cover;
    z-index: 1;
  }
  .start .me .text {
    transition: .2s;
    position: absolute;
    bottom: 0;
    z-index: 0;
    margin-top: 50px;
  }
  .start .me .text h1 {
    font-size: 65px;
  }
  .start .me .text h3 {
    font-size: 30px;
  }
  .start .me .text .logos img {
    width: 30px;
  }
}

/* start menu buts */
.start .buts {
  z-index: 4;
  display: flex;
  flex-wrap: wrap;
  margin: 30px 50px;
  align-items: center;
  justify-content: space-evenly;
}

.start .buts .but {
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 10px 40px;
  margin: 20px 10px;
  height: 45px;
}
.scruoll {
  position: relative;
  display: inline-block;
  height: 45px;
  overflow: hidden;
  text-align: center;
  transition: height 0.3s ease;
}

.scruoll:hover {
  height: 100px;
  padding: 10px 0px;
}

.scruoll .text {
  transition: opacity 0.3s ease;
}

.scruoll:hover .text {
  opacity: 0;
}

.scruoll .anim {
  display: none;
  height: 100px;
  margin-top: -30px;
  background-size: cover;
}

.scruoll:hover .anim {
  display: block;
}
