@import url(Style.css);
/* start */
.start {
  height: 800;
  display: flex;
  flex-wrap: wrap;
  padding: 10%;
  margin-top: 20px;
  text-align: center;
  border-radius: 20px 20px 0px 0px;
  animation: startt 2s;
  flex-direction: column;
  justify-content: space-evenly;
  border: solid 1px var(--primary-color);
  border-bottom: none;
}

/* me */
.start .me {
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
  display: flex;
}
.start .me .meimg {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  border: solid 1px var(--primary-color);
  animation: fly 2s ease-in infinite alternate-reverse;
}
.start .me .text {
  margin: auto;
}

@keyframes fly {
  to {
    transform: translateY(10px);
  }
}

@keyframes textflow {
  to {
    transform: translateX(-5px);
    opacity: 0.5;
    font-size: 50px;
  }
}
@keyframes textstart {
  from {
    transform: translatey(-200px);
  }
}
@keyframes startt {
  from {
    transform: translatez(200px);
    opacity: 0;
  }
  to {
    transform: translatez(0px);
    opacity: 1;
  }
}

@media (max-width: 500px) {
  .start .me .text {
    margin: auto;
  }
}

/* start menu buts */
.start .buts {
  z-index: 4;
  display: flex;
  flex-wrap: wrap;
  margin: 30px 50px;
  align-items: center;
  justify-content: space-evenly;
}

.start .buts .but {
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 10px 40px;
  margin: 20px 10px;
  height: 45px;
}
.scruoll {
  position: relative;
  display: inline-block;
  height: 45px;
  overflow: hidden;
  text-align: center;
  transition: height 0.3s ease;
}

.scruoll:hover {
  height: 100px;
  padding: 10px 0px;
}

.scruoll .text {
  transition: opacity 0.3s ease;
}

.scruoll:hover .text {
  opacity: 0;
}

.scruoll .anim {
  display: none;
  height: 100px;
  margin-top: -30px;
  background-size: cover;
}

.scruoll:hover .anim {
  display: block;
}
