@import "tailwindcss";

@font-face {
    font-family: "za3tar";
    src: url("/Fonts/زعتر.otf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s ease-in-out all;
}
html {
    scroll-behavior: smooth;
}
body {
    color: var(--foreground);
    background-color: var(--background);
    font-family: var(--font-ibm-sans);
}
