:root {
    --background: #171717;
    --foreground: #ffffff;
}

.GlassBG,
button {
    color: var(--foreground);
    backdrop-filter: blur(3px);
    border-radius: 20px;
    border: 1px solid #fff1;
}
.GlassBG:hover {
    border: 1px solid #fff5;
}
.page {
    width: 100vw;
    height: 100vh;
}

header {
    a:hover {
        scale: 1.1;
    }
}

.Home {
    .prograsbar {
        border-radius: 100px;
        width: 80%;
        padding: 10px;
        position: fixed;
        bottom: 20px;
        right: 50%;
        transform: translateX(50%);
        z-index: 10;
        animation: flyb 3s ease-in infinite alternate-reverse;
    }
    #first {
        height: 100vh;
        background: url("/imgs/back.webp");
        background-position: center;
        background-size: cover;

        .ImageName {
            animation: flyt 3s ease-in infinite alternate-reverse;
        }

        .me {
            width: 100%;
            height: calc(100% - 95px);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            img {
                height: 97%;
                padding-right: 50px;
                width: auto;
                position: absolute;
                bottom: 0;
            }
        }
    }
    #first::before {
        content: "";
        width: 100%;
        height: 90%;
        background: linear-gradient(0deg, var(--background) 0%, #0000 70%);
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
}

@keyframes flyt {
    to {
        transform: translateY(-10px);
    }
}
@keyframes flyb {
    to {
        bottom: 10px;
    }
}
